:root {
  --like-aqua: #1abe9b;
  --info-text: #2f3237;
}
body {
  font-family: lato;
  margin: 0;
  height: 100%;
  width: 100%;
  padding: 0;
  background-color: #f2f1ef;
}

header {
  background-color: #222222;
  padding: 1% 0% 1% 10%;
}

/* I used CSS filter to change the color of the SVG to match the mock */
img {
  filter: invert(83%) sepia(83%) saturate(383%) hue-rotate(87deg)
    brightness(91%) contrast(95%);
}

.with-background-img {
  background-image: url("./assets/photo-couch.jpg");
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  box-sizing: border-box;
  padding: 0% 0% 0% 10%;
  display: flex;
  align-items: flex-end;
}
.img-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-end;
  width: 50%;
  padding-bottom: 10%;
}
.img-info h2 {
  font-weight: lighter;
  margin: 0;
  width: 100%;
  padding-bottom: 1em;
}
.img-info h3 {
  font-size: 3em;
  font-weight: lighter;
  margin: 0;
}
.img-info p {
  padding: 1.5em 0em;
  margin: 0;
}
button {
  background-color: var(--like-aqua);
  color: var(--info-text);
  border: none;
  font-weight: bolder;
  border-radius: 25px;
  padding: 10px 20px;
}
button:hover {
  background-color: rgb(19, 143, 116);
  color: white;
}
button:active {
  background-color: rgb(23, 94, 70);
  color: white;
}

.more-info {
  margin: 0% 10%;
  color: var(--info-text);
  padding: 25px 0px 100px 0px;
}

.more-info h2 {
  text-align: center;
}

.articles {
  display: flex;
  flex-wrap: wrap;
}
.article-item {
  display: flex;
  flex-direction: column;
  /* border: solid 1px red; */
  width: 24%;
  align-items: center;
  text-align: center;
}
.article-number {
  border-bottom: solid 3px var(--like-aqua);
  margin: 0px;
  padding-bottom: 5px;
  font-size: 3em;
}
.article-action {
  margin: 0px;
  padding-top: 5%;
}
.article-info {
  width: 66%;
}


@media screen and (max-width: 1250px) {
  .article-item {
    width: 49%;
  }
  .img-info {
    width: 65%;
  }
}

@media screen and (max-width: 992px) {
  .img-info h2 {
    font-size: 1.25em;
  }
  .img-info h3 {
    font-size: 2em;
  }
}
@media screen and (max-width: 768px) {
  .with-background-img {
    padding: 10px;
  }
  .with-background-img {
    justify-content: center;
  }
  .img-info {
    justify-content: center;
    text-align: center;
    width: 75%;
  }
}
@media screen and (max-width: 600px) {
  .article-item {
    width: 100%;
  }
  .with-background-img {
    padding: 10px;
  }
  .img-info {
    justify-content: center;
    text-align: center;
  }
}